<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <div class="container">
        <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
        <div class="text-center">
            <a href="/logout" class="btn btn-primary -5" role="button">Logi välja</a>
            <a href="/dashboard" class="btn btn-primary -5" role="button">Home</a>
            <a href="/products" class="btn btn-primary -5" role="button">Tooted</a>
            <a href="/addproduct" class="btn btn-primary -5" role="button">Lisa</a>
        </div>
        <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
    </div>
    <div class="container">
        <table class="table table-striped table-primary">
            <thead>
                <tr>
                    <th>TÜÜP</th>
                    <th>NIMETUS</th>
                    <th>SUURUS</th>
                    <th>ÜHIK</th>
                    <th>VÄRV</th>
                    <th>KIRJELDUS</th>
                    <th>HIND</th>
                    <th> </th>

                </tr>
            </thead>
            <tbody>
                <%if (records.length>0){ %>
                    <% records.forEach(function(row){ %>
                        <tr>
                            <td>
                                <%= row.type %>
                            </td>
                            <td>
                                <%= row.productName %>
                            </td>
                            <td>
                                <%= row.size %>
                            </td>
                            <td>
                                <%= row.sizeUnit %>
                            </td>
                            <td>
                                <%= row.colour %>
                            </td>
                            <td>
                                <%= row.description %>
                            </td>
                            <td>
                                <%= row.price %>
                            </td>
                            <td>
                                <form action="/product/<%= row._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="os-icon os-icon-trash"
                                    style='font-size: 16px; display: inline-block; vertical-align: middle; color: #ff1938;'>Delete</button>
                                  </form>
                            </td>
                        </tr>
                        <% })}else{ %>
                            <tr>
                                <td colspan="6">Tooteid ei leitud!</td>
                            </tr>
                            <% } %>
            </tbody>
        </table>
    </div>

    <%- include('./partials/scripts'); %>
</body>

</html>