<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <div class="container">
        <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
        <%- include('./partials/nav'); %>
        <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>TÜÜP</th>
                    <th>NIMETUS</th>
                    <th>SUURUS</th>
                    <th>ÜHIK</th>
                    <th>VÄRV</th>
                    <th>KIRJELDUS</th>
                    <th>HIND</th>
                    <th> </th>

                </tr>
            </thead>
            <tbody>
                <%if (records.length>0){ %>
                    <% records.forEach(function(row){ %>
                        <!-- row.id, et saaks utils.js deleteProduct funktsioonis tabeli rea dünaamiliselt eemaldada -->
                        <tr id="<%= row._id %>">
                            <td>
                                <%= row.type %>
                            </td>
                            <td>
                                <%= row.productName %>
                            </td>
                            <td>
                                <%= row.size %>
                            </td>
                            <td>
                                <%= row.sizeUnit %>
                            </td>
                            <td>
                                <%= row.colour %>
                            </td>
                            <td>
                                <%= row.description %>
                            </td>
                            <td>
                                <%= row.price %>
                            </td>
                            <td>
                                <!-- data attribuut ja onclick meetod lisatud. handler utils.js failis -->
                                <button type="button" class="btn btn-danger" onclick="deleteProduct(this)" data-product-id="<%= row._id %>">Delete</button>
                            </td>
                        </tr>
                        <% })}else{ %>
                            <tr>
                                <td colspan="6">Tooteid ei leitud!</td>
                            </tr>
                            <% } %>
            </tbody>
        </table>
    </div>

    <%- include('./partials/scripts'); %>
    <script src="/js/utils.js"></script>
</body>

</html>
